{
    "subAccounts": {
        "autoDiscoverAccount": {
            "resource_group": "default",
            "service_key_json": "service_key.json"
        },
        "staticAccount": {
            "resource_group": "default",
            "service_key_json": "subAccount2_service_key.json",
            "deployment_models": {
                "gpt-4o": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_6>"
                ],
                "3.7-sonnet": [
                    "https://api.ai.intprod-eu12.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/<deployment_id_7>"
                ]
            }
        }
    },
    "secret_authentication_tokens": [
        "<authentication_token_1>",
        "<authentication_token_2>"
    ],
    "discovery_refresh_interval_seconds": 300,
    "port": 3001,
    "host": "0.0.0.0"
}
